@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    background-color: #243D68;
    background-image: url("imagem/mancha2.png");
    background-position:  40% 35%;
    background-repeat: no-repeat;
    text-align: center;
}
header{
    background-image:linear-gradient(45deg, #000066, #750037,#FF0000) ; display: inline-flex; width: 100%;
}
header img#logoGrafica{
    height: 5vw;
    min-height: 25px;
    max-height: 60px;
    margin:20px auto;
    display: flex; 
}
header img#Zap{
    height: 5vw;
    min-height: 25px;
    max-height: 60px;
    margin:20px auto;
    display: flex; 
}
.title{
    width: 100px;
}
#descricao{
    display: none;
}
#botao{
    background-color: #243D68;
    color: #fff;
    width: 100%;
    border: none;
    padding: 2px;
}
table{
    padding: 5px;
    /*border: 1px solid #333;*/
    background-color: #fff;
    height: 100px;
    margin: auto auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2ex;
    max-width: 300px;
    text-align: left;
}
#calculadora{
    margin:20px 0;
}
table td{
    padding:3px 0;
}

article#principal{
    
    width: 100%; 
}
article#principal h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.5ex; 
    color:#FFFF00;
     margin-top:20px;
}
article#principal p{
    text-align: justify;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    background-color:#ffffff41;
    
}
table#mUsados {
            
    background-color:#ffffff00;        
    font-size: clamp(8px, 1.7ex, 2ex);
    text-align: center;
    font-weight: bold;
    color: #fff;
    
    
}
footer{
    background-image:linear-gradient(45deg, #000066, #750037,#FF0000) ;
    width: 100% ; 
    height:50px; 
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}
footer p{
    text-align: center; 
}
iframe{
    
    height: auto;
    max-width: 300px;
    width: 100%;
}
